# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# 2 space indentation
[*.{js,ts,json}]
charset = utf-8
indent_style = tab
indent_size = 2

[*.scss]
charset = utf-8
indent_style = tab
indent_size = 2

[*.md]
charset = utf-8
indent_style = tab
indent_size = 4

# Ignore paths
[node_modules/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
