# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
trim_trailing_whitespace = true

# 2 space indentation
[*.{js,ts}]
indent_style = space
indent_size = 2

[*.{jsx,tsx}]
indent_style = tab
indent_size = 4

[.json]
indent_size = 4
indent_style = tab

[*.scss]
indent_style = tab
indent_size = 2

[*.md]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = false

[*.{graphql,gql}]
indent_style = tab
indent_size = 4

# Ignore paths
[node_modules/**]
charset = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
