## ! HIDDEN/SERVER-FACING ONLY ENV VARS

NODE_ENV="development | production | test"
PORT=3000
API_URL="https://us-east-1.cdn.hygraph.com/content/'{ ..? }'"
API_TOKEN="super_secret_api_tokeeeeeeopiedjfgo08iw4ehtgwkedfnb8w43thrwhou43ryeuywhro3i8ruhjqjedujcbqaikw3e98349t9ighjuhbedvc8wq34rhbfuywbe....?"

### EXPOSED/CLIENT-FACING ENV VARS (always need start with NEXT_PUBLIC_{...?}="<sum unsecured client-visible value>")
NEXT_PUBLIC_DOMAIN_NAME="leet-asf-web.dev"
NEXT_PUBLIC_BASE_URL="https://"$NEXT_PUBLIC_DOMAIN_NAME
