use-node-version=18.16.0
engine-strict=true
enable-pre-post-scripts=true
save-exact=true
auto-install-peers=true

public-hoist-pattern[]='*typescript*'
public-hoist-pattern[]='*@types/*'
public-hoist-pattern[]='*eslint*'
public-hoist-pattern[]='*prettier*'
public-hoist-pattern[]='*graphql*'
public-hoist-pattern[]='@graphql-*'
public-hoist-pattern[]='*styled-components*'
