use-node-version=18.16.0
engine-strict=false
enable-pre-post-scripts=true
save-exact=true
auto-install-peers=true

hoist-pattern[]=*eslint*
hoist-pattern[]=*prettier*
hoist-pattern[]=*graphql*
hoist-pattern[]=*@graphql-*
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*react-dom*
public-hoist-pattern[]=*styled-components*
publig-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*@types/*
public-hoist-pattern[]=*ts-node*
