@use 'sass:map';

@import url('fonts/birdman/BIRDB___.TTF');
@import url('fonts/birdman/BIRDL___.TTF');
@import url('/fonts/birdman/BIRDMAN_.TTF');
@import url('fonts/birdman/BIRDO___.TTF');
//
@import url('fonts/Oxanium/Oxanium-Light.ttf');
@import url('fonts/Oxanium/Oxanium-Medium.ttf');
@import url('fonts/Oxanium/Oxanium-Regular.ttf');
@import url('fonts/Oxanium/Oxanium-SemiBold.ttf');
@import url('fonts/Oxanium/Oxanium-Bold.ttf');

@import url('fonts/Monocraft-NerdFont/Monocraft-nerd-fonts-patched.ttf');

@font-face {
  font-family: 'Oxanium';
  src: url('fonts/Oxanium/Oxanium-Light.ttf') format('truetype'),
    url('fonts/Oxanium/Oxanium-Medium.ttf') format('truetype'),
    url('fonts/Oxanium/Oxanium-Regular.ttf') format('truetype'),
    url('fonts/Oxanium/Oxanium-SemiBold.ttf') format('truetype'),
    url('fonts/Oxanium/Oxanium-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Birdman';
  src: url('fonts/birdman/BIRDMAN_.TTF') format('truetype'), url('fonts/birdman/BIRDO___.TTF') format('truetype'),
    url('fonts/birdman/BIRDL___.TTF') format('truetype'), url('fonts/birdman/BIRDB___.TTF') format('truetype');
}

@font-face {
  font-family: 'MonocraftNF';
  src: url('fonts/Moncraft-NerdFont/Monocraft-nerd-fonts-patched.ttf') format('truetype');
}

// ^ fonts, nerd font icons with monocraftnf
// $birdman: 'Birdman'; // ?  large text
// $Oxanium: 'Oxanium'; // ? content/body text
// $MonocraftNF: 'MonocraftNF'; // ? use for unicode icons, term, or anything really

/*
  !!! COLOR SCHEMES USING SCSS MAPS
*/
// ? usage examples: color: map.get($colors, "drab"); background-color: map.get($bg-colors, "steel-cyan");

// ^ foreground colors for text, borders, etc.
$colors: (
  'green': rgb(43, 230, 33),
  'red': rgb(214, 30, 30),
  'orange': rgb(222, 76, 18),
  'purple': rgb(161, 85, 233),
  'blue': rgb(12, 95, 151),
  'cyan': rgb(11, 205, 163),
  'drab': rgb(35, 133, 56),
  'steel': rgb(69, 66, 66),
  'tan': rgb(177, 177, 165),
  'black': rgb(0, 0, 0),
  'neon': rgb(136, 255, 0),
);

// ^ backgraunds for containers, wrappers, etc.
$bgcolors: (
  'cyan': rgb(11, 205, 163),
  'blue': rgb(12, 95, 151),
  'green': rgb(43, 230, 33),
  'drab': rgb(38, 136, 59),
  'steel': rgb(66, 66, 66),
  'black': rgb(0, 0, 0),
  'steel-blue': linear-gradient(65deg, rgb(69, 66, 66), rgb(12, 95, 151)),
  'green-cyan': linear-gradient(65deg, rgb(43, 230, 33), rgb(11, 205, 163)),
  'black-steel': linear-gradient(65deg, rgb(0, 0, 0), rgb(69, 66, 66)),
  'steel-cyan': linear-gradient(65deg, rgb(66, 66, 66), rgb(12, 205, 165))
);

// ^ text decorations, shadows, etc
$shade-1: map.get($colors, 'blue') 4px 0 4px;
$shade-2: map.get($colors, 'steel') 2px 1px 2px;
$shade-3: map.get($colors, 'drab') 1px 0 10px;

// ^ border outlines, radius, etc.
$dense: 4px solid map.get($colors, 'black');
$thin: 2px solid map.get($colors, 'neon');
$radi-1: 30% 25% / 10% 35%;
$radi-2: 20% 10% / 10% 20%;

// ^ vars for dynamic media queries
$cellphone: 'only screen and (min-width: 740px)';
$desktop: 'only screen and (min-width: 900px)';
