@use "sass:map";

@import './vars/index.scss';
@import './mixins/index.scss';

footer {
  @include flex-inline;
  background-color: map.get($bgcolors, "steel-blue");
  border: $thin;
  border-radius: $radi-1;
  margin: 3px 3px auto;
  padding: 4px 4px;

  i {
    font-family: "MonocraftNF";
    color: map.set($colors, "neon");
  }

  pre {
    font-family: "Oxanium";
  }
}
