* {
  box-sizing: border-box;

  html,
  body {
    padding: 0;
    margin: 0;
		background-color: radial-gradient(#263349 24%, #5f48a0 36%);;
     font-family: "'ProFontWindows NF', 'CodeNewRoman', 'CaskaydiaCove NF',  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif";

    a {
      color: inherit;
      text-decoration: none;
    }

		code {
			font-family: "'TerminessTTF NF', monospace";
		}
  }
}
