@use "sass:map";

@import './vars/index.scss';
@import './mixins/index.scss';

nav {
	@include nav-menu;
	font-family: $Oxanium;
	font-size: 20px;

	.toggle-form {
		margin: 0;

		label {
			text-shadow: $shade-2;
			display: block;
			color: map.get($colors, "purple");
			font-size: 30px;
			font-weight: 450;
			letter-spacing: 2px;
		}

		.toggle-btn {
			border: $thin;
			width: 273px;
			height: 30px;
			background: map.get($bgcolors, "blue");
			transition: filter 500ms;

			&:hover {
				filter: brightness(3);
				color: map.get($colors, "neon");
			}
		}
	}

	.nav-close {
		@include nav-menu;
		font-family: $birdman;
		bottom: -100%;
	}

	.nav-open {
		@include flex-inline;
		background: map.get($bgcolors, "blue");
		position: absolute;
		top: 65px;
		letter-spacing: 3px;
		text-shadow: $shade-2;

		ul {
			border: $thin;
			list-style: none;

			li {
				margin: 10px, 3px, 3px, 10px;
				padding: 6px, 5px, 5px, 6px;
        color: map.get($colors, "green");
				transition: filter 400ms;
				border-top: 1px solid black;

				&:hover {
					filter: brightness(2.6);
					color: map.get($colors, "cyan");
				}

				.icon {
          color: map.get($colors, "neon");
          font-family: $MonocraftNF;
					font-size: 3rem;
				}

				.title {
					color: map.get($colors, "green");
					font-size: 2rem;
					padding-left: 20px;
				}
			}
		}
	}
}
