$bg-color-1: rgb(16, 133, 133);
$bg-color-2: rgb(29, 91, 199);

$txt-color-1: rgb(43, 230, 33);
$txt-color-2: rgb(64, 165, 86);
$txt-color-3: rgb(69, 66, 66);
$txt-color-4: rgb(11, 205, 163);

$txt-shadow-1: 3px 3px rgb(69, 66, 66);
$txt-shadow-2: 1px 1px rgb(69, 66, 66);

$def-bord: 4px solid black;
$def-radi: 30% 25% / 10% 35%;
$sec-radi: 20% 10% / 10% 20%;

@font-face {
  font-family: Oxanium;
  src: url(fonts/Oxanium/Oxanium-Bold.ttf);
}

@font-face {
  font-family: birdman;
  src: url(fonts/birdman/BIRDO___.TTF);
}

$head-font: birdman;
$body-font: Oxanium;



@mixin grid {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2rem;
}

@mixin flex-cont-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

@mixin flex-cont-inline {
  display: inline-flex;
  flex-flow: row wrap;
}

@mixin nav-bar {
  position: fixed;
  padding-left: 20px;
  width: 400px;
  z-index: 200;
  left: -100%;
  animation: slide-open 0.6s forwards;
}

@mixin txt-header {
  font-family: $head-font;
  font-style: italic;
  font-weight: 500;
  color: $txt-color-1;
  text-shadow: $txt-shadow-1;
  text-decoration: underline;
  text-decoration-color: $txt-color-4;
  text-decoration-style: double;
  text-align: center;
}

@mixin txt-section {
  font-family: $body-font;
  color: rgb(22, 21, 21);
  color: $txt-color-1;
  text-shadow: $txt-shadow-2;
  font-weight: 200;
  text-align: left;
}

@mixin pad-query($top: null, $right: null, $bottom: null, $left: null, $media: null) {
  @if $media {
    @media #{$media} {
      padding-top: $top;
      padding-right: $right;
      padding-bottom: $bottom;
      padding-left: $left;
    }
  } @else {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
  }
}
