@use "sass:map";

@import './vars/index.scss';
@import './mixins/index.scss';

section {
  @include flex-col;
  background-color: map.get($bgcolors, "steel-blue");
  border: $dense;
  border-radius: $radi-1;

  span {
    @include flex-inline;
    text-align: center;
    border: 2px solid map.get($colors, "neon");
    margin: 2px auto;
    padding: 4px 2px 2px 4px;
    background-color: map.get($bgcolors, "green-cyan");

    h3 {
      font-family: $MonocraftNF;
      color: map.get($colors, "green");
      text-shadow: $shade-1;
      font-weight: 700;
      text-decoration: underline;
      text-decoration-color: map.get($colors, "cyan");
    }

    p {
      font-weight: 250;
      color: map.get($colors, "steel");
      text-shadow: $shade-3;
    }

    i {
      font-family: $MonocraftNF;
      font-weight: 700;
      color: map.get($colors, "cyan");
      flex: 1 0 auto;
    }
  }

  article {
    // display: flex;
    // justify-content: flex-start;
    // flex-flow: row wrap;
    // align-items: center;
    @include flex-inline;
    border: $thin;
    border-radius: $radi-2;
    margin: 4px 4px auto;
    padding: 4px 2px 2px 4px;
    text-align: center;
    font-family: $Oxanium;
    background-color: map.get($bgcolors, "green-cyan");

    // h3 {
    //   font-family: $MonocraftNF;
    //   color: $rgb-purp;
    //   text-shadow: $txt-shade-1;
    //   font-weight: 700;
    //   text-decoration: underline;
    //   text-decoration-color: $rgb-teal;
    // }

    pre {
      font-weight: 275;
      text-shadow: $shade-3;
      color: map.get($colors, "neon");
    }

    p {
      font-weight: 250;
      color: map.get($colors, "steel");
      text-shadow: $shade-3;
    }

    code {
      font-family: $MonocraftNF;
      color: map.get($colors, "neon");
      font-weight: 300;
      text-shadow: $shade-2;
      // flex: auto;
    }
  }
}
