@import './SASS_config';

.projects {
  @include flex;

  .project {
    margin: 5px, 2px, 2px, 5px;
    padding: 5px, 2px, 2px, 5px;
    border: $def-bord;
    background-color: #159b9bb0;

    .title {
      text-shadow: 3px 2px black;
      color: $color-1;
      font-family: $head-font;
      letter-spacing: 2px;
    }

    p {
      font-family: $body-font;
    }

    ul {
      list-style: none;

      li {
        margin: 0;

        a {
          @include marg(4px, 2px, 2px, 4px);
          @include pad(5px, 2px, 2px, 5px);
          font-family: $head-font;
          font-weight: bolder;
          letter-spacing: 1.5px;
          display: block;
          transition: filter 500ms;

          &:hover {
            filter: brightness(3);
            color: #ac31ac;
          }
        }
      }
    }

    details {
      margin: 0;

      summary {
        letter-spacing: 1.5px;
        transition: filter 500ms;

        &:hover {
          filter: brightness(3);
          color: #ac31ac;
        }
      }

      #screenshot-1 {
        @include pad(2px, 1px, 1px, 2px);
        display: block;
        width: 40%;
        float: left;
        border: 2px solid black;
      }

      #screenshot-2 {
        @include pad(2px, 1px, 1px, 2px);
        display: block;
        width: 40%;
        float: left;
        border: 2px solid black;
      }

      #screenshot-3 {
        @include pad(2px, 1px, 1px, 2px);
        display: block;
        width: 45%;
        float: left;
        border: 2px solid black;
      }

      #screenshot-4 {
        @include pad(2px, 1px, 1px, 2px);
        display: block;
        width: 57%;
        float: left;
        border: 2px solid black;
      }

      #screenshot-5 {
        @include pad(2px, 1px, 1px, 2px);
        display: block;
        width: 57%;
        float: left;
        border: 2px solid black;
      }

      #screenshot-6 {
        @include pad(2px, 1px, 1px, 2px);
        display: block;
        width: 50%;
        float: left;
        border: 2px solid black;
      }

      #screenshot-7 {
        @include pad(2px, 1px, 1px, 2px);
        display: block;
        width: 45%;
        float: left;
        border: 2px solid black;
      }
    }
  }
}
