@mixin menu-flex {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

@mixin nav-menu {
	position: sticky;
	padding-left: 20px;
	width: 400px;
	z-index: 200;
	left: -100%;
	animation: slide-open 0.7s forwards;
}
