.container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;

	.icon {
		display: inline-flex;
	}

	.title {
		color: green;
	}

	.description {
		color: blue;
	}
}
