@import '../styles/variables';

.container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 2fr;
	gap: 20px 20px;
	background-color: $bg-color-2;

	.intro {
		border: 5px solid black;
		background-color: $bg-color-1;

		h3,
		h4 {
			text-align: center;
		}
	}

	.img {
		border: 5px solid black;
		background-color: $bg-color-1;
	}

	.dismiss {
		border: 5px solid black;
		background-color: $bg-color-1;
	}
}
